#btnGroup {
    margin-top: 56em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#btnArr {
    display: flex;
    justify-content: center;
}

#btnIzqDer {
    display: flex;
    justify-content: center;

}

#btnAba {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    margin: 0.3em;
    padding: 0.3em;
    width: 10em;
    height: 3em;
    background-color: #2f2f2f;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    border: 2px solid #2f2f2f;
    border-radius: 30px;
}

button:hover {
    background-color: crimson;
    color: yellow;
    transition: 0.3s ease;
}

.btnReset {
    cursor: pointer;
    margin: 0.3em;
    padding: 1.5em;
    width: 13em;
    height: 4em;
    background-color: #2f2f2f;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    border: 2px solid #2f2f2f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 34em;
}

.btnReset:hover {
    background-color: crimson;
    color: yellow;
    transition: 0.3s ease;
}