#btnGroupUno {
    margin: 5em;
}

#btnGroupDos {
    margin: 5em;
}

#fleDere {
    transform: rotate(180deg);
}


#fleArr {
    transform: rotate(90deg);
}

#fleAba {
    transform: rotate(-90deg);
}

#fleIzq, #fleDere, #fleArr, #fleAba {
    width: 4em;
    height: 4em;
}

button {
    cursor: pointer;
    width: 4em;
    height: 4em;
    background-color: #2f2f2f;
    font-size: 2em;
    border: 2px solid #2f2f2f;
    border-radius: 30px;
    opacity: 0.8;
}

button:hover {
    background-color: white;
    color: yellow;
    transition: 0.3s ease;
}

.btnReset {
    cursor: pointer;
    margin: 0.3em;
    padding: 1.2em;
    width: 13em;
    height: 4em;
    background-color: #2f2f2f;
    color: white;
    font-family: "AnotherDangerDemo.otf", sans-serif;
    font-size: 2.5em;
    border: 2px solid #2f2f2f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
}

.btnReset:hover {
    background-color: white;
    color: crimson;
    transition: 0.3s ease;
}

.btnSalida {
    cursor: pointer;
    margin: 0.3em;
    padding: 1.2em;
    width: 13em;
    height: 4em;
    background-color: #2f2f2f;
    color: white;
    font-family: "AnotherDangerDemo.otf", sans-serif;
    font-size: 2.5em;
    border: 2px solid #2f2f2f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
}

.btnSalida:hover {
    background-color: white;
    color: crimson;
    transition: 0.3s ease;
}