#mainStart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainStart > h1{
    font-family: "AnotherDangerDemo.otf", sans-serif;
    color: crimson;
    font-size: 7em;
}

h1{
    margin: 0.5em 0 0.3em 0;
}

#mainStart > nav >  ul {
    display: flex;
    list-style: none;
    font-size: 3em;
    justify-content: center;
}

nav ul{
    margin: 0;
}

#mainStart > nav >  ul > li {
    margin: 0 1em 1em 1em;
}

#mainStart > nav > ul > li > a {
    text-decoration: none;
    font-family: "AnotherDangerDemo.otf", sans-serif;
    color: white;
}

#mainStart > nav > ul > li > a:hover {
    padding-left: 0.2em;
    color: crimson;
    transition: 0.3s ease;
    text-shadow: 2px 2px 2px white; 
}