#jugador{
    width: 6em;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#monstruo{
    width: 6em;
    height: auto;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}