#piedra{
    width: 6em;
    height: auto;
    position: absolute;
}

.piedra1{
    left: 500px;
    right: 0;
    top: 0;
    bottom: 0;
}

.piedra2{
    top: 12.5em;
}

.piedra3{
    top:18.6em;
}

.piedra4{
    top: 24.9em;
}

.piedra5{
    top: 31em;
}